
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f2f5;
}

.resume-container {
    width: 400px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center; 
}

#profile-picture img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid #007bff; 
    margin-bottom: 20px;
}
h1 {
    font-size: 30px;
    margin-top: 20px;
    margin-bottom: 10px;
    font-weight: bold;}

h2 {
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 10px;
    font-weight: bold;
}

p, ul {
    list-style: none;
    text-align: center; 
    margin: 5px 0;
    padding-left: 0%;
}

ul li::before {
    content: "•"; 
    color: #0c0c0c; 
    display: inline-block;
    width: 1em;
    margin-right: 5px;
    font-weight: bold;
}

h3 {
    display: inline-block;
    background-color: aqua;
    padding: 10px 20px;
    font-weight: bold;
    border-radius: 10px;
    box-shadow: #0c0c0c;
    border: 2px solid;
}
.hidden {
    display: none;
}


button {
    margin-top: 10px;
    padding: 8px 12px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  